{{ a.A.1 }}:{{ b.B.2 }}:{{ c.C.3 }}
{{{ a.A.1 }}}:{{{ b.B.2 }}}:{{{ c.C.3 }}}
{{#a}}
{{ A.1 }}:{{ B.2 }}:{{ b.B.2 }}
{{{ A.1 }}}:{{{ B.2 }}}:{{{ b.B.2 }}}
{{#A}}
{{ 1 }}:{{ A.1 }}:{{ B.2 }}:{{ b.B.2 }}
{{{ 1 }}}:{{{ A.1 }}}:{{{ B.2 }}}:{{{ b.B.2 }}}
{{#b}}
{{ 1 }}:{{ A.1 }}:{{ B.2 }}:{{ b.B.2 }}
{{{ 1 }}}:{{{ A.1 }}}:{{{ B.2 }}}:{{{ b.B.2 }}}
{{/b}}
{{/A}}
{{/a}}
